.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e2f;
    padding: 15px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}


.navbar-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

.navbar-title:hover {
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center; 
}

.nav-links .nav-item {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}

.nav-links .nav-item:hover {
    background-color: #3a3a50;
    color: #ffcc00;
}

.nav-links .nav-item::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffcc00;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-links .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logout-btn {
    background: #ff4b5c;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.logout-btn:hover {
    background: #ff1e36;
    transform: scale(1.05);
}

.userName {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }

    .navbar-title {
        font-size: 20px;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
        justify-content: center; /* Centramos los enlaces en móvil */
    }

    .nav-links .nav-item {
        padding: 12px 20px;
        font-size: 18px;
        text-align: center;
        width: 100%; /* Hacemos que los enlaces ocupen todo el ancho en móvil */
    }

    .logout-btn {
        width: 100%;
        padding: 12px 20px;
    }

    .userName {
        margin-left: 0; /* Quitamos el margen para que no haya desplazamiento en móvil */
        text-align: center;
    }
}
